<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Polibee_v2"
        tools:targetApi="31">

        <!-- SplashActivity como activity principal -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Polibee_v2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WelcomeActivity -->
        <activity
            android:name=".access.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Polibee_v2" />

        <!-- LoginActivity -->
        <activity
            android:name=".access.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Polibee_v2" />

        <!-- CadastroActivity -->
        <activity
            android:name=".access.CadastroActivity"
            android:exported="false"
            android:theme="@style/Theme.Polibee_v2" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Polibee_v2" />

        <activity android:name=".access.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".access.VerifyEmailConfirmationActivity" android:exported="false" />
        <activity android:name=".access.EnterCodeActivity" android:exported="false" />
        <activity android:name=".access.ResetPasswordActivity" android:exported="false" />
        <activity android:name=".PremiumPlansActivity" android:exported="false" />

        <activity android:name=".marketplace.CartActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".rent.AluguelActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".marketplace.MarketplaceActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".CertificacaoActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".nav.HistoryActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".nav.FavoritesActivity" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".nav.ProfileActivity" android:exported="false"
            tools:ignore="Instantiatable" />

        <activity android:name=".rent.ChatActivity" android:exported="false" />

        <activity android:name=".nav.ProfileActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".profile.MyDataActivity" android:exported="false" />
        <activity android:name=".profile.PrivacySecurityActivity" android:exported="false" />
        <activity android:name=".profile.MyCardsActivity" android:exported="false" />
        <activity android:name=".RentOrSellActivity" android:exported="false" />
        <activity android:name=".profile.AccessibilityActivity" android:exported="false" />
        <activity android:name=".profile.PolibeeSupportActivity" android:exported="false" />

        <!-- PODEM SER REMOVIDAS -->
        <activity android:name=".PremiumBenefitsActivity" android:exported="false" />
        <activity android:name=".PremiumPlansActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />

        <!-- NOVA ATIVIDADE PREMIUM (substitui as anteriores) -->
        <activity android:name=".premium.PremiumOverviewActivity" android:exported="false" />
        <activity android:name=".premium.PaymentActivity" android:exported="false" />

        <activity android:name=".BeeCuriosityActivity" android:exported="false" />

        <!-- **NOVAS ATIVIDADES DO FLUXO DE ALUGUEL (9 PÁGINAS)** -->
        <activity android:name=".rent.ApicultureIntroActivity" android:exported="false" />
        <activity android:name=".rent.TipsActivity" android:exported="false" />
        <activity android:name=".rent.PropertyInfoActivity" android:exported="false" />
        <activity android:name=".rent.RentalConfigActivity" android:exported="false" />
        <activity android:name=".rent.CompanyListActivity" android:exported="false" />
        <activity android:name=".rent.CompanyDetailsActivity" android:exported="false" />
        <activity android:name=".rent.AvailabilityActivity" android:exported="false" />
        <activity android:name=".rent.ConfirmationActivity" android:exported="false" />
        <activity android:name=".rent.PaymentFlowActivity" android:exported="false" />

        <!-- NOVAS ATIVIDADES DE HISTÓRICO E FAVORITOS -->
        <activity android:name=".nav.HistoryActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".nav.FavoritesActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />

        <!-- NOVA ATIVIDADE DO MARKETPLACE -->
        <activity android:name=".marketplace.ProductDetailsActivity" android:exported="false" />

        <!-- As atividades abaixo já estão no seu manifest, apenas para referência -->
        <activity android:name=".marketplace.MarketplaceActivity" android:exported="false"
            tools:ignore="DuplicateActivity,Instantiatable" />
        <activity android:name=".marketplace.CartActivity" android:exported="false"
            tools:ignore="DuplicateActivity,Instantiatable,MissingClass" />
        <activity android:name=".premium.PaymentActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".nav.FavoritesActivity" android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".marketplace.PaymentActivity"
            android:exported="false" />

    </application>
</manifest>